
body {
  font-family: "poppins", sans-serif;
  


}
.titulo-juego {
  font-family: "press start 2p", cursive;
  font-size: clamp(4rem, 10vw, 7rem);
  text-align: center;
  color:#ffeb3b;
  text-shadow: 3px 3px 0 #000;
  -webkit-text-stroke: 2px black;
  

}
.subtitulo {
    font-family: "press start 2p", cursive;
    font-size: 20px;
    text-align: center;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  

}
.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  justify-items: center;
}


input[type="radio"] {
  display: none;
}


.tarjeta-mokepon {
  width: 180px;
  background: #1e1e1e;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}


.tarjeta-mokepon img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 12px;
}







